<!DOCTYPE html>
<html>
    {{- partial "head.html" . -}}
    <body>
      <div class="container">
        {{- partial "header.html" . -}}
        <div id="content">
        {{- block "main" . }}{{- end }}
        </div>
        {{- partial "footer.html" . -}}
      </div>  
    </body>
</html>
