<header>
  <h1>{{ .Site.Title }}</h1>
  <h2>Online Bill Pay</h2>
</header>

<div id="smart-button-container">
    <div style="text-align: left;"><label for="description">Account Number </label><input type="text" name="descriptionInput" id="description" maxlength="127" value=""></div>
      <p id="descriptionError" style="visibility: hidden; color:red; text-align: left;">Please enter the account number, 8 characters long, 3 letters, 4 numbers, ends with G</p>
    <div style="text-align: left"><label for="amount">Payment Amount </label><input name="amountInput" type="number" id="amount" value="" ><span> USD</span></div>
      <p id="priceLabelError" style="visibility: hidden; color:red; text-align: left;">Please enter a payment amount.</p>
    <div id="invoiceidDiv" style="text-align: left; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value="" ></div>
      <p id="invoiceidError" style="visibility: hidden; color:red; text-align: left;">Please enter an Invoice ID</p>
    <div style="text-align: left; margin-top: 0.625rem;" id="paypal-button-container"></div>
</div>

<button id="paynow" type="button" onclick="myFunction()">Submit</button>
